$color-primary-soft: hsl(243, 86%, 85%);
$color-primary-dark: hsl(243, 87%, 12%);
$color-accent: hsl(163, 95%, 43%);
$color-neutral: hsl(0, 0%, 50%);
$font-heading: "Raleway", sans-serif;
$font-body: "Open Sans", sans-serif;

*{
    box-sizing: border-box;
}