$color-primary-soft: hsl(243, 86%, 85%);
$color-primary-dark: hsl(243, 87%, 12%);
$color-accent: hsl(163, 95%, 43%);
$color-neutral: hsl(0, 0%, 50%);
$font-heading: "Raleway", sans-serif;
$font-body: "Open Sans", sans-serif;

:root{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: $font-body;
}

h1{
    font-family: $font-heading;
}

.icon{
    color: $color-primary-dark;
}

@media screen and (max-width: 769px){
    body{
        background: url('../images/bg-intro.svg') top center/100% no-repeat;
    }

    h1{
        font-size: 1.5rem;
    }
    
    header{
        height: 5rem;
        line-height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 2.5rem;
    }

    .logo{
        display: block;
        height: 1.75rem;
    }

    main{
        padding: 1rem 3rem 3rem 3rem;
    }

    footer{
        padding: 3rem;
    }

    .icon{
        color: #fff;
        margin-right: 1rem;
    }

    .icon:last-child{
        margin-right: 0rem,
    }

    .illustration{
        display: block;
        margin: auto;
        max-width: 100%;
        padding: 1rem 1.5rem 3rem 1.5rem;
    }
}